@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #923EDE;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #DE3EAA;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #5D3EDE;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #C63EDE;
	margin: 0px;
	float: left;
	width: 100%;
	height: 400px;
	text-align: center;
}
.footer {
	background: #DE3E4A;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
